<nav class="bread-crumbs">
  <a href="#">Главная</a>
  <a href="#">Первый подуровень</a>
  <a href="#">Второй подуровень</a>
</nav>

<h1 class="page-title">Головные уборы</h1>

<ul class="product-list">
  <li>
    <div class="catalog-category">
      <aside class="__photo">
        <img src="assets/img/tmp/catalog.jpg" alt=""/>
      </aside>
      <header>
        <h1 class="__title"><a href="#">Название подкатегории</a></h1>
      </header>
      <footer>товаров (17)</footer>
    </div>
  <li>
    <div class="catalog-category">
      <aside class="__photo">
        <img src="assets/img/tmp/catalog.jpg" alt=""/>
      </aside>
      <header>
        <h1 class="__title"><a href="#">Название подкатегории</a></h1>
      </header>
      <footer>товаров (17)</footer>
    </div>
  <li>
    <div class="catalog-category">
      <aside class="__photo">
        <img src="assets/img/tmp/catalog.jpg" alt=""/>
      </aside>
      <header>
        <h1 class="__title"><a href="#">Название подкатегории</a></h1>
      </header>
      <footer>товаров (17)</footer>
    </div>
  <li>
    <div class="catalog-category">
      <aside class="__photo">
        <img src="assets/img/tmp/catalog.jpg" alt=""/>
      </aside>
      <header>
        <h1 class="__title"><a href="#">Название подкатегории</a></h1>
      </header>
      <footer>товаров (17)</footer>
    </div>
  <li>
    <div class="catalog-category">
      <aside class="__photo">
        <img src="assets/img/tmp/catalog.jpg" alt=""/>
      </aside>
      <header>
        <h1 class="__title"><a href="#">Название подкатегории</a></h1>
      </header>
      <footer>товаров (17)</footer>
    </div>
</ul>