include "common/bread-crumbs"

<h1 class="page-title">Головные уборы</h1>

<div class="product-filter">
  Выберите размер:
  <ul class="l-jLine">
    <li><a class="product-size" href="#">50</a></li>
    <li><a class="product-size  is-active" href="#">56</a></li>
    <li><a class="product-size  is-active" href="#">62</a></li>
    <li><a class="product-size" href="#">68</a></li>
    <li><a class="product-size" href="#">74</a></li>
    <li><a class="product-size" href="#">80</a></li>
    <li><a class="product-size" href="#">86</a></li>
    <li><a class="product-size" href="#">92</a></li>
    <li><a class="product-size" href="#">98</a></li>
    <li><a class="product-size" href="#">104</a></li>
    <li><a class="product-size" href="#">116</a></li>
    <li><a class="product-size" href="#">122</a></li>
    <li><a class="product-size" href="#">128</a></li>
    <li><a class="product-size" href="#">134</a></li>
    <li><a class="product-size" href="#">140</a></li>
    <li><a class="product-size" href="#">146</a></li>
    <li><a class="product-size" href="#">152</a></li>
    <li><a class="product-size" href="#">158</a></li>
    <li><a class="product-size" href="#">164</a></li>
  </ul>

  <div class="l-jLine">
    <div class="l-hLine">
      Товаров на странице:
      <ul class="__list">
        <li><a class="is-active" href="#">12</a></li>
        <li><a href="#">24</a></li>
        <li><a href="#">48</a></li>
      </ul>
    </div>
    <div class="l-hLine">
      Упорядочить по:
      <ul class="__list">
        <li><a class="is-active" href="#">Цене</a></li>
        <li><a href="#">Производителю</a></li>
      </ul>
    </div>
  </div>
</div>

<ul class="product-list">
  <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article>
  <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article>
  <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article> <li>
  <article class="product">
    <aside class="__photo">
      <img src="assets/img/tmp/product.jpg" alt=""/>
    </aside>
    <div class="__content">
      <header>
        <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
      </header>
      <p class="__consists">Хлопок (Cotton) 100%</p>
      <p class="ui-price  __price">779,00</p>
    </div>
    <footer class="__buy">Положить в корзину</footer>
  </article>
  <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article>
  <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article>
</ul>

include "common/pagination"

<footer class="l-hLine">
  <a class="btn-go-back" href="#">Вернуться к выбору категорий</a>
</footer>
