<div id="slider">
  <ul class="bjqs">
    <li><img src="http://fakeimg.pl/700x250/?text=Slide-1"></li>
    <li><img src="http://fakeimg.pl/700x250/?text=Slide-2"></li>
    <li><img src="http://fakeimg.pl/700x250/?text=Slide-3"></li>
    <li><img src="http://fakeimg.pl/700x250/?text=Slide-4"></li>
  </ul>
</div>

<header class="ui-island  site-about">
  <h1 class="__title"><b>Интернет магазин детской одежды </b> в розницу по оптовым ценам с доставкой на дом</h1>
  <p>
    Детский интернет–магазин Дисконт Беби представляет брендовую одежду для девочек и мальчиков от 0 до 12 лет, <br/>
    Одежду для новорожденных детей от ведущих российских производителей, игрушки для девочек и мальчиков.
  </p>
</header>
<!--leader products-->
<section class="ui-island">
  <header class="ui-title--divider">
    <h1 class="ui-title">Лидеры продаж</h1>
  </header>
  <ul class="product-list">
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <div class="__price-for-authorized-client">
            <p>Ваша цена: <b class="ui-price  __price">779,00</b></p>
            <p class="__old-price">Розничная цена: 799,00</p>
            <p class="__discount">Ваша скидка: <b>10%</b></p>
          </div>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article> <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
  </ul>
</section>
<!--new products-->
<section class="ui-island">
  <header class="ui-title--divider">
    <h1 class="ui-title">Новинки</h1>
  </header>
  <ul class="product-list">
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article> <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
  </ul>
</section>

<footer>Мы работаем без посредников, что делает доступными наши цены на одежду. Шагая в ногу со временем и следя за новинками моды, наш интернет магазин регулярно расширяет ассортимент, обновляет представленные коллекции, и проводит сезонные распродажи детской одежды. Ассортимент подобран так, что на ваш выбор представлены товары от множества различных производителей, что позволяет каждому подобрать одежду на любой вкус и кошелек.</footer>