include "common/bread-crumbs"

<article class="product-full">

  <div class="__main">
    <aside id="gallery">
      <ul class="__slides">
        <li class="is-active"><img src="http://fakeimg.pl/385x385/fff/ccc/?text=1">
        <li><img src="http://fakeimg.pl/385x385/fff/ccc/?text=2">
        <li><img src="http://fakeimg.pl/385x385/fff/ccc/?text=3">
        <li><img src="http://fakeimg.pl/385x385/fff/ccc/?text=4">
      </ul>
      <ul class="__thumbs">
        <li class="is-active"><img src="http://fakeimg.pl/85x85/fff/ccc/?text=1">
        <li><img src="http://fakeimg.pl/85x85/fff/ccc/?text=2">
        <li><img src="http://fakeimg.pl/85x85/fff/ccc/?text=3">
        <li><img src="http://fakeimg.pl/85x85/fff/ccc/?text=4">
      </ul>
    </aside>
    <header class="__header">
      <h1 class="__title">Конверт-трансформер (пух)</h1>
      <ul class="__details">
        <li><b>Код товара:</b> 1749</li>
        <li><b>Состав:</b> Полиэстер (Polyester) 100%</li>
        <li><b>Производитель:</b> Светлячок, Россия</li>
      </ul>
      <p><b class="ui-price  __price">1 899,00</b></p>
      <label class="l-hLine">
        <span>Размер:</span>
        <select style="width: 200px">
          <option>156 (На складе 20)</option>
          <option>156 (На складе 20)</option>
          <option>156 (На складе 20)</option>
        </select>
      </label>
      <label class="l-hLine">
        <span>Кол-во:</span>
        <input type="number" style="width: 70px"/>
      </label>
      <button class="btn-3d">Положить в корзину</button>
    </header>
  </div>

  <footer>
    <nav class="tab-nav">
      <a href="#" class="is-active">Описание товара</a>
      <a href="#">Оплата и возврат</a>
      <a href="#">Доставка</a>
    </nav>

    <div class="tab-pane-wrap">
      <div class="tab-pane  is-active">Конверт-трансформер (пух). Длина конверта 92 см. У конверта отстегивается низ, на спине молния и превращается в куртку 98 размера. Наполнитель пух/перо в соотношении 80/20, количество наполнителя 180 г/м2.</div>
      <div class="tab-pane">Aliquid blanditiis cupiditate enim excepturi fuga in incidunt laboriosam laudantium magnam
        minus nobis obcaecati, quas quia recusandae repellendus soluta voluptate? Aperiam cum delectus deserunt eaque,
        perspiciatis porro provident quia sint.
      </div>
      <div class="tab-pane">Accusantium adipisci animi debitis eaque eos, ex exercitationem facere fugiat illo laboriosam
      </div>
    </div>
  </footer>
</article>

<div class="wswg">
  <hr/>
</div>

<section class="ui-island">
  <header>
    <h1 class="ui-title">Лидеры продаж</h1>
  </header>
  <ul class="product-list">
    <li>
      <article class="product">
        <aside class="__photo">
          <img src="assets/img/tmp/product.jpg" alt=""/>
        </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <div class="__price-for-authorized-client">
            <p>Ваша цена: <b class="ui-price  __price">779,00</b></p>
            <p class="__old-price">Розничная цена: 799,00</p>
            <p class="__discount">Ваша скидка: <b>10%</b></p>
          </div>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
        <aside class="__photo">
          <img src="assets/img/tmp/product.jpg" alt=""/>
        </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
        <aside class="__photo">
          <img src="assets/img/tmp/product.jpg" alt=""/>
        </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article> <li>
    <article class="product">
      <aside class="__photo">
        <img src="assets/img/tmp/product.jpg" alt=""/>
      </aside>
      <div class="__content">
        <header>
          <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
        </header>
        <p class="__consists">Хлопок (Cotton) 100%</p>
        <p class="ui-price  __price">779,00</p>
      </div>
      <footer class="__buy">Положить в корзину</footer>
    </article>
    <li>
      <article class="product">
        <aside class="__photo">
          <img src="assets/img/tmp/product.jpg" alt=""/>
        </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
    <li>
      <article class="product">
        <aside class="__photo">
          <img src="assets/img/tmp/product.jpg" alt=""/>
        </aside>
        <div class="__content">
          <header>
            <h1><a href="#">Велюровый костюм H&M, Швеция</a></h1>
          </header>
          <p class="__consists">Хлопок (Cotton) 100%</p>
          <p class="ui-price  __price">779,00</p>
        </div>
        <footer class="__buy">Положить в корзину</footer>
      </article>
  </ul>
</section>

<a href="#" class="btn-go-back">Вернуться к списку товаров</a>