<nav class="bread-crumbs">
  <a href="#">Главная</a>
  <a href="#">Первый подуровень</a>
  <a href="#">Второй подуровень</a>
</nav>

<h1 class="page-title">Моя корзина</h1>

<div class="ui-island  shopcart">
  <table>
    <tbody>
      <tr class="product  ">
        <td>
          <article class="l-jLine--middle">
            <aside class="__photo">
              <img src="assets/img/tmp/product-in-cart.jpg" alt=""/>
            </aside>
            <div class="__content">
              <header>
                <h1><a href="#">Комбинезон (осень) BERTI (NKD), Германия</a></h1>
              </header>
              <p class="__consists">Полиэстер 100%</p>
            </div>
          </article>
        </td>
        <td>
          <p><b class="ui-price">1 499</b></p>
          <label class="input-counter">
            <span>Кол-во:</span>
            <input type="number" value="1"  disabled/>
            <button class="input-counter__control--inc">Increment input value</button>
            <button class="input-counter__control--dec">Decrement input value</button>
          </label>
        </td>
        <td>
          <b class="ui-price">0</b>
        </td>
        <td>
          <div class="l-jLine--middle">
            <p class="ui-price  __price">101 499</p>
            <button class="__delete"></button>
          </div>
        </td>
      </tr>
      <tr class="product  ">
        <td>
          <article class="l-jLine--middle">
            <aside class="__photo">
              <img src="assets/img/tmp/product-in-cart.jpg" alt=""/>
            </aside>
            <div class="__content">
              <header>
                <h1><a href="#">Комбинезон (осень) BERTI (NKD), Германия</a></h1>
              </header>
              <p class="__consists">Полиэстер 100%</p>
            </div>
          </article>
        </td>
        <td>
          <p><b class="ui-price">1 499</b></p>
          <label class="input-counter">
            <span>Кол-во:</span>
            <input type="number"  value="1"/>
            <button class="input-counter__control--inc">Increment input value</button>
            <button class="input-counter__control--dec">Decrement input value</button>
          </label>
        </td>
        <td>
          <b class="ui-price">0</b>
        </td>
        <td>
          <div class="l-jLine--middle">
            <p class="ui-price  __price">779,00</p>
            <button class="__delete"></button>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Наименование</th>
        <th class="ui-price">Цена</th>
        <th>Скидка</th>
        <th class="ui-price">Стоимость</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td class="__footer" colspan="4">
          <p>Скидка на заказ: 0 р.</p>
          <p class="ui-price  __total">2 487.00</p>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="__errorsDescription">
    <p>Один из выбранных товаров отсутсвует в наличии.</p>
    <p>Попробуйте обновить данные в каталоге или изменить количество товара.</p>
  </div>
</div>


<footer class="l-jLine">
  <a class="btn-go-back" href="#">Вернуться к покупкам</a>
  <a class="btn-3d" href="#">Оформить заказ</a>
</footer>