// layout params
$baseMaxWidth             = 960px
$baseMinWidth             = 960px
$boxModel                 = border-box
// colors
$baseFontColor            = #333
$titleColor 		          = #28475c
$brandColor               = #e55342
$servColor                = #797f7f
$inputColor               = $titleColor
//layout
$main-column-width        = 700px
$sidebar-width            = 200px
$spacer                   = 15px
//links vars
$linkColor                = #00a8ff
$activeLinkColor          = $linkColor
$visitedLinkColor         = $linkColor
$hoveredLinkColor         = $linkColor
$focusedLinkColor         = $linkColor
$link-decor               = underline
$link-decor-reverse       = none
//fonts
$baseFamily               = Arial, "Helvetica Neue", Helvetica, sans-serif;
$brandFamily              = $baseFamily
//misc
$baseFontSize             = 13px
$baseLineHeight           = 1.4
$paragraphSpace           = 15px
$inputHeight              = 34px